meta( name="viewport" content="width=device-width" )
link( rel="shortcut icon" href="/base/32.png" sizes="32x32" )
link( rel="icon" href="/base/192.png" sizes="192x192" )
link( rel="icon" href="/base/512.png" sizes="512x512" )
link( rel="manifest" href="/base/manifest.webmanifest" )
link( rel="mask-icon" href="/base/icon.svg" color="#99aab5" )
link( rel="apple-touch-icon" href="/base/apple.png" )
meta( name="theme-color" content="#99aab5" )
meta( name="apple-mobile-web-app-title" content="{{title}}" )

script( async src="/common.js" )
link( rel="stylesheet" href="/common.sss" )
